@model OnlineGames.Web.AiPortal.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>AI Competitions</h1>
            <p class="lead">Try your algoritmic skills.</p>
        </div>
        <div class="col-md-4">
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-info" href="/Account/LoginWithTelerikAcademy">Login with telerikacademy.com &raquo;</a>
            }
            else
            {
                foreach (var team in Model.CurrentUserTeams)
                {
                    <a class="btn btn-success" href="/Teams/Info/@team.Id">Team @team.Name &raquo;</a><br /><br />
                }

                <a class="btn btn-info" href="/Teams/Create">Create a new team &raquo;</a>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    @foreach (var competition in Model.ActiveCompetitions)
    {
        <div class="col-md-6">
            <h2>@competition.Name</h2>
            @Html.Raw(competition.Description)
            <p>
                <a class="btn btn-success" href="/Competitions/Info/@competition.Id">Check the rankings &raquo;</a>
            </p>
        </div>
    }
</div>
