@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>AI Competitions</h1>
            <p class="lead">Try your algoritmic skills.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-info" href="/Account/LoginWithTelerikAcademy">Login with telerikacademy.com &raquo;</a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-6">
        <h2>Santase (Сантасе)</h2>
        <p><strong>Santase</strong> (known as <strong>66</strong>, Сантасе, Sixty-six or <strong>Sechsundsechzig</strong>) is a well-known card game in Bulgaria and also played in Germany.</p>
        <p>It is a fast <strong>6-card game</strong> for <strong>2 players</strong> played with a deck of 24 cards consisting of the <em>Ace</em>, <em>Ten</em>, <em>King</em>, <em>Queen</em>, <em>Jack</em> and <em>Nine</em>.</p>
        <p>The game is named 66 because the objective of each hand is to be the first to collect 66 card points in tricks and melds. </p>
        <p><a class="btn btn-success" href="/Competitions/1/Santase">Check the rankings &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Texas Hold'em</h2>
        <p>As in most forms of poker, Texas Hold’em uses a standard 52-card deck that is shuffled before every hand.</p>
        <p>Each player starts with two hole cards. There are three rounds of community cards. These are dealt face up, for every player to use, with betting after each round.</p>
        <p>The best 5-card hand using any combination of the five community cards and two hole cards wins.</p>
        <p><a class="btn btn-success" href="/Competitions/2/TexasHoldem">Check the rankings &raquo;</a>
        </p>
    </div>
</div>
